
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 242.3rem;
}.desktop-1-rvC {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #8f8681;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-pvvq-KBW {
    width: 100%;
    height: 340.6rem;
    position: relative;
    flex-shrink: 0;

    .ellipse-6-Kz8 {
      top: 117.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 49.1rem;
      height: 50.1rem;
      position: absolute;
      left: 154.6rem;
    }
    .ellipse-4-RnG {
      position: absolute;
      left: 172.9rem;
      top: 85.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 49.1rem;
      height: 50.1rem;
    }
    .ellipse-2-mLL {
      width: 49.1rem;
      height: 50.1rem;
      position: absolute;
      left: 181.1rem;
      top: 117.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-5-6dW {
      left: 181.1rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 49.1rem;
      height: 50.1rem;
      position: absolute;
    }
    .group-25-FFW {
      left: 0;
      top: 5.7rem;
      display: flex;
      align-items: center;
      width: 206.4719rem;
      height: 37.7723rem;
      position: absolute;

      .group-14-AtG {
        margin-right: 31.406rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-8-7Hi {
          margin-right: 30.8765rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-4-s1z {
            position: relative;
            flex-shrink: 0;
            margin-right: 30.3826rem;
            width: 60.8068rem;
            height: 100%;

            .group-16-ZJ8 {
              top: 0;
              width: 60.3393rem;
              height: 37.7723rem;
              position: absolute;
              left: 0;

              .ellipse-3-u76 {
                height: 24.7371rem;
                position: absolute;
                left: 0;
                top: 13.0351rem;
                object-fit: contain;
                vertical-align: top;
                width: 55.6891rem;
              }
              .group-3-Ev4 {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 55.6891rem;
                height: 24.7371rem;
              }
            }
            .home-MDz {
              font-family: Inter, 'Source Sans Pro';
              height: 7.3rem;
              position: absolute;
              top: 15.2077rem;
              font-style: italic;
              line-height: 1.2125;
              color: #ffffff;
              white-space: nowrap;
              width: 16.8rem;
              left: 37.4068rem;
              font-size: 6rem;
              font-weight: 400;
            }
          }
          .about-zXr {
            line-height: 1.2125;
            font-style: italic;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.057rem;
            font-size: 6rem;
            font-weight: 400;
            color: #ffffff;
          }
        }
        .skillset-JYY {
          font-style: italic;
          color: #ffffff;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.057rem;
          font-size: 6rem;
        }
      }
      .blogs-DQc {
        font-size: 6rem;
        line-height: 1.2125;
        font-style: italic;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.057rem;
        font-weight: 400;
      }
    }
    .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY {
      width: 116.3rem;
      left: 63.6rem;
      font-family: Inter, 'Source Sans Pro';
      height: 36.4rem;
      position: absolute;
      top: 59.2rem;
      text-align: center;
      font-size: 7.5rem;
      font-weight: 700;
      line-height: 1.2102272542;
      font-style: italic;
      color: rgba(0, 0, 0, 0.4900000095);

      .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY-sub-0 {
        font-size: 7.5rem;
        font-weight: 700;
        line-height: 1.2125;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4900000095);
        font-family: Inter, 'Source Sans Pro';
      }
      .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY-sub-1 {
        font-size: 7.5rem;
        font-weight: 400;
        line-height: 1.2125;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4900000095);
        font-family: Inter, 'Source Sans Pro';
      }
      .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY-sub-2 {
        font-size: 7.5rem;
        font-weight: 400;
        line-height: 1.2125;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4900000095);
        font-family: Inter, 'Source Sans Pro';
      }
      .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY-sub-3 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 7.5rem;
        font-weight: 400;
        line-height: 1.2125;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4900000095);
      }
      .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY-sub-4 {
        font-size: 7.5rem;
        font-weight: 700;
        line-height: 1.2125;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4900000095);
        font-family: Inter, 'Source Sans Pro';
      }
      .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY-sub-5 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 7.5rem;
        font-weight: 400;
        line-height: 1.2125;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4900000095);
      }
      .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY-sub-6 {
        font-size: 7.5rem;
        font-weight: 700;
        line-height: 1.2125;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4900000095);
        font-family: Inter, 'Source Sans Pro';
      }
      .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY-sub-7 {
        font-size: 7.5rem;
        font-weight: 400;
        line-height: 1.2125;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4900000095);
        font-family: Inter, 'Source Sans Pro';
      }
      .hey-everyone-im-ayesha-fathima-student-programmer-designer-kQY-sub-8 {
        font-weight: 700;
        line-height: 1.2125;
        font-style: italic;
        color: rgba(0, 0, 0, 0.4900000095);
        font-family: Inter, 'Source Sans Pro';
        font-size: 7.5rem;
      }
    }
    .brow-removebg-preview-1-Tn8 {
      position: absolute;
      left: 132.6rem;
      top: 34.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 146.8966rem;
      height: 153.3627rem;
    }
    .hija-removebg-preview-1-aLx {
      position: absolute;
      left: 165.3rem;
      top: 50.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 78.1rem;
      height: 115.3rem;
    }
    .leaf-removebg-preview-1-6aC {
      vertical-align: top;
      width: 96.4rem;
      height: 171.1rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
    .ellipse-7-e5v {
      object-fit: contain;
      vertical-align: top;
      width: 166.2rem;
      height: 38.9rem;
      position: absolute;
      left: 39.5rem;
      top: 195.3rem;
    }
    .ellipse-8-mwE {
      object-fit: contain;
      vertical-align: top;
      width: 166.8rem;
      height: 48rem;
      position: absolute;
      left: 34rem;
      top: 227.8rem;
    }
    .im-a-student-currently-pursuing-my-btech-degree-in-artificial-intelligence-at-bs-abdur-rahman-crescent-institute-of-science-and-technology-uXe {
      top: 211rem;
      font-weight: 400;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 62rem;
      font-size: 6rem;
      color: #35291a;
      width: 124.7rem;
      height: 29.1rem;
    }
    .as-a-person-im-hardworking-optimistic-and-always-eager-to-learn-new-things-im-excited-to-explore-new-opportunities-and-challenges-and-look-forward-to-expanding-my-knowledge-and-skills-7tc {
      position: absolute;
      left: 61.4rem;
      top: 242.5rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      height: 36.4rem;
      font-size: 6rem;
      line-height: 1.2125;
      font-style: italic;
      color: #35291a;
      width: 126.9rem;
    }
    .rectangle-1-YU8 {
      top: 176.7rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 3rem;
      width: 50.8rem;
      height: 141.2rem;
      position: absolute;
      left: 4.6rem;
    }
    .ellipse-10-S3i {
      width: 44.2rem;
      height: 25.7rem;
      position: absolute;
      left: 11.2rem;
      top: 191.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-14-MgU {
      position: absolute;
      left: 199.9rem;
      top: 306.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 44.2rem;
      height: 25.7rem;
    }
    .des2-removebg-preview-1-twJ {
      vertical-align: top;
      width: 66.5rem;
      height: 99.7rem;
      position: absolute;
      left: 179.2rem;
      top: 233.9rem;
      object-fit: cover;
    }
    .ellipse-11-Dya {
      top: 199rem;
      object-fit: contain;
      vertical-align: top;
      width: 44.2rem;
      height: 25.1rem;
      position: absolute;
      left: 7.9rem;
    }
    .ellipse-12-mVJ {
      top: 270.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 44.2rem;
      height: 31.5rem;
      position: absolute;
      left: 11.2rem;
    }
    .ellipse-13-73N {
      top: 166.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 44.2rem;
      height: 31.5rem;
      position: absolute;
      left: 208.1rem;
    }
    .fea-removebg-preview-1-eJC {
      width: 72.4rem;
      height: 118.4rem;
      position: absolute;
      left: 0;
      top: 167.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .aye1-removebg-preview-1-NEC {
      left: 0;
      top: 71.4rem;
      background-size: 120.954% 123.123%;
      background-position: -17.8639rem 0;
      background-image: url('REPLACE_IMAGE:0b7c8a49818458d19de0c1a2d9fc70f8f257081b');
      width: 147.5rem;
      height: 262.2rem;
      position: relative;
    }
    .about-me-fDJ {
      white-space: nowrap;
      left: 104.05rem;
      font-weight: 400;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      font-size: 7rem;
      color: #ffffff;
      width: 34.2rem;
      height: 8.5rem;
      position: absolute;
      top: 194.3rem;
      text-align: center;
    }
    .vector-wwW {
      width: 18.9383rem;
      height: 18.9805rem;
      position: absolute;
      left: 278.015rem;
      top: 255.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-saG {
      position: absolute;
      left: 284.6149rem;
      top: 261.7249rem;
      object-fit: contain;
      vertical-align: top;
      width: 18.9383rem;
      height: 18.9805rem;
    }
  }
  .auto-group-cazn-1Ra {
    width: 244.2rem;
    height: 168.8rem;
    position: relative;
    flex-shrink: 0;

    .ellipse-17-YRW {
      height: 25.6rem;
      position: absolute;
      left: 45.7rem;
      top: 44.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 155.1rem;
    }
    .ellipse-19-Ua4 {
      width: 155.1rem;
      height: 25.6rem;
      position: absolute;
      left: 28.7rem;
      top: 78.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-18-jF6 {
      position: absolute;
      left: 77.8rem;
      top: 116.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 122.1rem;
      height: 25.1rem;
    }
    .skill-icons-python-dark-Fz8 {
      top: 44.9rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 25.6rem;
      height: 25.6rem;
      position: absolute;
      left: 50.2rem;

      .group-P4k {
        width: 25.6rem;
        height: 25.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 15.1rem;
      }
      .group-iMv {
        height: 25.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 25.6rem;
      }
    }
    .fin4-removebg-preview-1-fY4 {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 45.5rem;
      height: 168.8rem;
      position: absolute;
    }
    .my-skills-zaL {
      font-size: 7rem;
      white-space: nowrap;
      height: 8.5rem;
      position: absolute;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      font-style: italic;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 31rem;
      left: 103.6rem;
      top: 21rem;
    }
    .ml-1-J5E {
      background-position: -9.8522rem -5.4884rem;
      left: 167.4rem;
      height: 28.8rem;
      position: relative;
      top: 76.8rem;
      background-size: 156.261% 190.568%;
      background-image: url('REPLACE_IMAGE:1aea221827093d6cd62169ee5bc7294eb679a0a0');
      border-radius: 3rem;
      width: 32.5rem;
    }
    .python-ZWx {
      font-weight: 400;
      color: #35291a;
      position: absolute;
      left: 83.3rem;
      top: 51.3rem;
      font-size: 7rem;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 23.4rem;
      height: 8.5rem;
    }
    .machine-learning-5EQ {
      width: 56.5rem;
      top: 84.4rem;
      line-height: 1.2125;
      font-style: italic;
      color: #35291a;
      white-space: nowrap;
      height: 8.5rem;
      position: absolute;
      left: 106.3rem;
      font-size: 7rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
    }
    .image-2-awr {
      height: 30rem;
      position: absolute;
      left: 50.1rem;
      top: 116.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 30rem;
    }
    .data-analytics-iHN {
      position: absolute;
      top: 123.3rem;
      font-style: italic;
      color: #35291a;
      font-family: Inter, 'Source Sans Pro';
      width: 47.6rem;
      height: 8.5rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      left: 77rem;
      font-size: 7rem;
    }
    .le5-removebg-preview-1-2J4 {
      object-fit: cover;
      vertical-align: top;
      width: 54.5rem;
      height: 95.4rem;
      position: absolute;
      left: 187.8rem;
      top: 30.3rem;
    }
  }
}
